<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />

    <div class="top-page">
        <h1>FinFriends</h1>
        <nav class="navbar">
            <ol>
                <li><% if (isLoggedIn) { %>
                    <a href="/home?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Home</a>
                <% } else { %>
                    <a href="/home">Home</a>
                <% } %></li>
                <li>Listing</li>
                <li><a>Profile</a></li>
                <li><% if (isLoggedIn) { %>
                    <a href="/cart?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Cart</a>
                <% } else { %>
                    <a>Cart</a>
                <% } %></li>
            </ol>
        </nav>
    </div>
    
</head>
<body>
    <h1>Admin Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Remove?</th>
            </tr>
        </thead>
        <tbody>
            <% fishInventory.forEach(fish => { %>
                <tr>
                    <td><%= fish.fish_id %></td>
                    <td> <% if (isLoggedIn) { %>
                        <a href="/prodpage?fishName=<%= encodeURIComponent(fish.fish_name) %>&User=<%=encodeURIComponent(username)%>&LoggedStatus=<%= encodeURIComponent(true) %>"><%= fish.fish_name %></a>
                        <% } else { %>
                        <a href="/prodpage?fishName=<%= encodeURIComponent(fish.fish_name) %>&LoggedStatus=<%= encodeURIComponent(false) %>"><%= fish.fish_name %></a>
                    <% } %></td>

                    <td><%= fish.price %></td>
                    <td><%= fish.quantity %></td>
                    <td>
                        <form action="/remove-fish" method="post">
                            <input type="hidden" name="fish_name" value="<%= fish.fish_name %>">
                            <input type="hidden" name="price" value=<%= fish.price %>>
                            <button type="submit" id="removeFishButton"> remove <%= fish.fish_name %></button>
                        </form>      
                        
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table> 
    
        <div class="stock-container">
            <p>Add Fish</p>
            <form id="stock-form" action="/product_add" method="post" >
                <label for="fish_name">Fish Name:</label><br>
                <input type="text" id="fish_name" name="fish_name"><br><br>

                <label for="price">Price:</label><br>
                <input type="text" id="price" name="price"><br><br>

                <label for="image">Image Address:</label><br>
                <input type="text" id="image" name="image"><br><br>

                <button id="CheckFields" type="submit">Add</button>
            </form> 
             
        </div>
        
        <script src="../middleware/product_add.js" defer></script> <!-- Include login script -->
    
</body>
</html>