<!DOCTYPE html>
<html>
<head>
    <title>FinFriends - Home</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../styles/home.css"/>
</head>
<body>
    <div class="top-page">
        <h1>FinFriends</h1>
        <nav class="navbar">
            <ol>                
                <li>
                    <li>
                        <% if (isLoggedIn) { %>
                            <a href="/">Log out</a>
                        <% } else { %>
                            <a href="/login">Login/Sign-up</a>
                        <% } %>
                    </li>
                    
                </li>
                <li>
                    <% if (isLoggedIn) { %>
                        <a href="/listing?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Listing</a>
                    <% } else { %>
                        <a href="/listing?LoggedStatus=<%= encodeURIComponent(false) %>">Listing</a>
                    <% } %>
                </li>
                <li><a>Profile</a></li>
                <li><% if (isLoggedIn) { %>
                    <a href="/cart?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Cart</a>
                <% } else { %>
                    <a>Cart</a>
                <% } %></li>
            </ol>
        </nav>
    </div>

    <div class="home-img">
        <% if (isLoggedIn) { %>
            <h2>Welcome back, <%= username %>!</h2>
        <% } else { %>
            <h2>Your one-stop shop for all your fin friend things!</h2>
        <% } %>        
    </div>
    
    <div class="article-items">
        <article>
            <h2>Fish</h2>
            <p>Here are our collection of exotic pet fish!</p>
            <% if (isLoggedIn) { %>
                <a href="/listing?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">View Listing</a>
            <% } else { %>
                <a href="/listing?LoggedStatus=<%= encodeURIComponent(false) %>">View Listing</a>
            <% } %>
        </article>
    </div>
    
    <div class="about-us" id="about-us-section">
        <img src="/images/fishy.jpeg" alt="Fish image">

        <p>We love fish.</p>
    </div>
</body>
</html>
