<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <script src="../middleware/prodpage.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/prodpage.css" />

    <div class="top-page">
        <h1>FinFriends</h1>
        <nav class="navbar">
            <ol>

                <% if (!admin) { %>
                   
                <li><% if (isLoggedIn) { %>
                    <a href="/home?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Home</a>
                <% } else { %>
                    <a href="/home">Home</a>
                <% } %></li>
                <li><% if (isLoggedIn) { %>
                    <a href="/listing?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Listing</a>
                <% } else { %>
                    <a href="/listing">Listing</a>
                <% } %></li>
                <li><a>Profile</a></li>
                <li><% if (isLoggedIn) { %>
                    <a href="/cart?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Cart</a>
                <% } else { %>
                    <a>Cart</a>
                <% } %></li>
                <% } else { %>
                    <li><a>Admin Home</a></li>
                    <li><a href="/admin_listing?LoggedStatus=<%= encodeURIComponent(true) %>&User=<%=encodeURIComponent(username)%>">Inventory Dashboard</a></li>
                    <li><a>Customer Dashboard</a></li>
                    <li><a href="/listing?admin=<%= encodeURIComponent(true) %>&LoggedStatus=<%= encodeURIComponent(false)%>&User=<%=encodeURIComponent(username)%>">Listing View</a></li>
             
                <% } %>




            </ol>
        </nav>
    </div>
</head>
<body>
    <div class="backgroundForAll">
    <h2>Product Details</h2>
    <div class="prodpageBackground">
        
        <div class="product-container">
            
            <div class="image" id="fish-image">
                <!-- Constructing dynamic file path for the image src using JavaScript function -->
                 <img id="fishImage" src="<%= fish.image %>" alt="<%= fish.name %>">

                <!-- <p>Look at this adorable little guy.</p> -->
            </div>
            <div class="fishDetails">
                <h3>Fish Name:</h3>
                <p><%= fish.fish_name %></p>
                <h3>Price:</h3>
                <p>$<%= fish.price %></p>
                <h3>In Stock:</h3>
                <p><%= fish.quantity %></p>
                <% if (isLoggedIn) { %> 
                    <form action="/add-to-cart" method="post">
                        <input type="hidden" name="username" value="<%= username.trim() %>">
                        <input type="hidden" name="fish_name" value="<%= fish.fish_name %>">
                        <input type="hidden" name="price" value=<%= fish.price %>>
                        <button type="submit" id="addtoCartButton">Add to Cart</button>
                    </form>      
                <% } else { %>
                    <p>Please Log in to Add Items to Cart</p>
                <% } %>
            </div>
        </div>
            
    </div>
    </div>
        

</body>
</html>
